@import '../styles/variables/colors.scss';

body {
    background-color: $colorBlack;
    color: $colorWhite;
}

a {
    text-decoration: none;
    color: $colorWhite;
}

p {
    margin: 0;
    padding: 0;
}

:focus-visible {
    outline: none;
}

.container {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
}